.modal-divine {
    display: none;
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 999999!important;
    -webkit-overflow-scrolling: touch;
    outline: 0;
    background: rgba(44, 62, 80,.9);
}
.modal-body input {
    min-width: 100px;
    margin: 0 auto;
    display: block;
}
a.btn-divine {
    text-decoration: none!important;
    border: none;
    box-shadow: none!important;
    cursor: pointer;
}